
= simple_form_for @project do |f|
    = f.input :name, required: true, disabled: @project.persisted?

    = f.input :hide, as: :boolean, label: 'Hide this project from all views?'

    = f.submit class: "btn btn-primary"
