.rotate {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  margin-right: auto;
  margin-left: auto;
}

.break-on-letter {
  word-break: break-all;
}

.navbar {
  margin-bottom: 0;
}

.subnav {
  margin-bottom: 21px;
}
